/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 10px;
    user-select: none;
    --purple: rgb(137, 106, 228);
}

/* UTILITY */
button:hover {
    position: relative;
    cursor: pointer;
}

button:hover::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.hidden {
    visibility: hidden;
}

/* TOGGLE */
.toggle {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 1em;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle input[type="checkbox"] + .box {
    display: block;
    position: relative;
    border: 0.3em solid black;
    width: 1.8em;
    aspect-ratio: 1;
    cursor: pointer;
}

.toggle input[type="checkbox"]:checked + .box::after {
    --gap: 0.3em;
    content: "";
    display: block;
    transform: translate(var(--gap), var(--gap));
    width: calc(100% - 2 * var(--gap));
    height: calc(100% - 2 * var(--gap));
    background: black;
}

.toggle p {
    font-size: 1.5em;
}

/* LAYOUT */
body {
    padding: 1em;
}

main {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 4em;
}

/* TITLE */
#title {
    font-size: 3rem;
    padding-bottom: 2rem;
}

/* MAIN */
#main-game {
    width: max-content;
    display: grid;
    grid-template-areas:
        "eval board"
        "eval nav";
    column-gap: 1em;
}

/* EVAL BAR */
#eval-bar {
    --eval: 0;
    position: relative;
    border: 0.2em solid black;
    width: 3.5em;
    grid-area: eval;
}

#eval-bar-black {
    width: 100%;
    height: calc(50% + var(--eval) * 50%);
    background: black;
    transition: 0.5s ease-in-out height;
}

#eval-bar-middle {
    position: absolute;
    width: 100%;
    height: 0.3em;
    top: 50%;
    transform: translateY(-50%);
    background: var(--purple);
}

#eval-num {
    --v-padding: 0.5em;
    position: absolute;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

#eval-num.black {
    top: var(--v-padding);
    color: white;
    font-weight: bold;
}

#eval-num.white {
    bottom: var(--v-padding);
    color: black;
    font-weight: bold;
}

/* BOARD */
#board {
    grid-area: board;
}

#board .row {
    --gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

#board button {
    --policy: 0;
    font-family: "42dot Sans";
    background: white;
    font-size: 3.5rem;
    width: 4rem;
    height: 4.2rem;
    padding: 0 calc(var(--gap)/2);
    border: none;
}

#board.show-policy button {
    background: rgba(137, 106, 228, var(--policy));
}

/* NAV */
#game-nav {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-area: nav;
}

#game-nav button {
    font-size: 2em;
    border-radius: 0;
    border: 0.1em solid black;
    padding: 0.5rem;
}

/* SETTINGS */
#settings {
    display: grid;
    gap: 1em;
    height: min-content;
}

#settings .header {
    font-size: 2rem;
}

